
body {
margin: 0;
padding: 25px 0; 

}
.box {
  width: calc((100% - 125px) / 4);
  float: left;
  box-sizing: border-box;
  margin-right: 25px;
  padding: 8px;
  background: #DCDCDC;
  border-radius: 8px;
}
.box:first-child {
  margin-left: 25px;
}

.column1Header {
  height: 30px;
  background: lightpink;
  text-align: center; 
  vertical-align: middle;
  padding-top: 10px;
  border-radius: 8px;
}
.column2Header {
  height: 30px;
  background: lightblue;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  border-radius: 8px;
}
.column3Header {
  height: 30px;
  background: lightskyblue;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  border-radius: 8px;
}
.column4Header {
  height: 30px;
  background: orange;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  border-radius: 8px;
}
.card {
  background: white;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
  border-radius: 8px;
  margin: 10px auto;
}

.addItem {
  font-size: 12px;
  padding-left: 5px;
  color: #696969;
}
.left {
  float: left;
  margin-right: 10px;
}
.right {
  float: right;
  margin-left: 10px;
}